## Import libraries

In [1]:
# import debugger
import pdb

import re

# selenium
import selenium
import pandas as pd
from selenium import webdriver


# BeautifulSoup
from bs4 import BeautifulSoup
import requests

# add time
import time

#to send keys from keyboard
from selenium.webdriver.common.keys import Keys

from selenium.common.exceptions import NoSuchElementException

from selenium.webdriver.common.action_chains import ActionChains

from selenium.webdriver.common.alert import Alert

### function to open url

In [2]:
def open_url(url):
    """function to open the entered url in browser"""
    global driver
    # first, connect to the webdriver
    driver=webdriver.Chrome('chromedriver.exe')
    # maximize window
#     driver.maximize_window()
    #enter the url
    driver.get(url)
    
#     time.sleep(3)
    
#     # handle 'Privacy Error' from Chrome
#     try:
#         driver.find_element_by_xpath("//div[@class='interstitial-wrapper']//following::button[@id='details-button']").click()
        
#         time.sleep(2)
        
#         driver.find_element_by_xpath("//*[@id='proceed-link']").click()
        
#         time.sleep(2)
        
#     except NoSuchElementException:
#         pass

#### Q.1 Scrape the details of most viewed videos on YouTube from Wikipedia

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
Url ='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [23]:
open_url(Url)

# get webelements for all 30 rows
top30_rows_wbe=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//following::tbody")
# get webelement for table with top 30 YT videos list
# store all text in a list
for i in top30_rows_wbe:
    temp_text=i.text
    break # exit after first iteration
    
sep_rows=temp_text.split('\n')

rank=[]
rank.clear()
vid_name=[]
vid_name.clear()
artist=[]
artist.clear()
views=[]
views.clear()
date=[]
date.clear()

for i in sep_rows:
    
    rank.append(i.split('.')[0])
    
    vid_name.append(i.split('[')[0].split('.')[-1].strip())
    
    artist.append(re.split('\d+',i.split(']')[1])[0])
    
    views.append(str(re.compile('\d+').findall(i.split(']')[1])[0])+'.'+str(re.compile('\d+').findall(i.split(']')[1])[1]))
    
    date.append(str(re.compile('[a-zA-Z]+\s+\d{2}').findall(i.split('.')[2]))+','+str(re.compile('\d{4}').findall(i.split('.')[2])))

In [24]:
top30_vid=pd.DataFrame({})
top30_vid['Rank']=rank
top30_vid['Name']=vid_name
top30_vid['Artist']=artist
top30_vid['Views (in billions)']=views
top30_vid['Release Date']=date

In [25]:
top30_vid

,Rank,Name,Artist,Views (in billions),Release Date
0,1,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,8.71,"['June 17'],['2016']"
1,2,"""Despacito""",Luis Fonsi,7.38,"['January 12'],['2017']"
2,3,"""Johny Johny Yes Papa""",LooLoo Kids,5.41,"[],['2016']"
3,4,"""Shape of You""",Ed Sheeran,5.34,"['January 30'],['2017']"
4,5,"""See You Again""",Wiz Khalifa,5.13,"[],['2015']"
5,6,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.44,"['January 31'],['2012']"
6,7,"""Uptown Funk""",Mark Ronson,4.19,"['November 19'],['2014']"
7,8,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.12,"['February 27'],['2018']"
8,9,"""Bath Song""",Cocomelon – Nursery Rhymes,4.10,"[],['2018']"
9,10,"""Gangnam Style""",Psy,4.08,"['July 15'],['2012']"
10,11,"""Phonics Song with Two Words""",ChuChu TV,3.90,"[],['2014']"
11,12,"""Sugar""",Maroon,5.3,"['January 14'],['2015']"
12,13,"""Sorry""",Justin Bieber,3.44,"['October 22'],['2015']"
13,14,"""Dame Tu Cosita""",El Chombo,3.37,"[],['2018']"
14,15,"""Roar""",Katy Perry,3.36,"[],['2013']"
15,16,"""Counting Stars""",OneRepublic,3.31,"['May 31'],['2013']"
16,17,"""Thinking Out Loud""",Ed Sheeran,3.26,"[],['2014']"
17,18,"""Dark Horse""",Katy Perry,3.08,"['February 20'],['2014']"
18,19,"""Faded""",Alan Walker,3.07,"[],['2015']"
19,20,"""Shake It Off""",Taylor Swift,3.06,"['August 18'],['2014']"
20,21,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,3.05,"['May 24'],['2018']"
21,22,"""Lean On""",Major Lazer,3.04,"['March 22'],['2015']"
22,23,"""Bailando""",Enrique Iglesias,3.04,"['April 11'],['2014']"
23,24,"""Girls Like You""",Maroon,5.3,"['May 31'],['2018']"
24,25,"""Let Her Go""",Passenger,3.00,"['July 25'],['2012']"
25,26,"""Mi Gente""",J Balvin,2.92,"['June 29'],['2017']"
26,27,"""Perfect""",Ed Sheeran,2.86,"[],['2017']"
27,28,"""Hello""",Adele,2.84,"['October 22'],['2015']"
28,29,"""Waka Waka (This Time for Africa)""",Shakira,2.84,"[],['2010']"
29,30,"""Axel F""",Crazy Frog,2.82,"['June 16'],['2009']"

#### Q.2 Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
open_url('https://www.bcci.tv')

time.sleep(5)

# click on "International" button to expand it
driver.find_element_by_xpath("//li[@data-nav-index='0']").click()

# click on 'Fixtures'
driver.find_element_by_xpath("//li[@data-nav-index='0']//following::a[@href='/international/fixtures']").click()

time.sleep(3)

# store webelements for all series names
series_wbe=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span")

fixture_frame_text=[]

for i in series_wbe:
    fixture_frame_text.append(i.text)
    
fixture_name=[]
fixture_name.clear()
fixture_type=[]
fixture_type.clear()

time.sleep(3)

for i in range(len(fixture_frame_text)):
    if i%2!=0:
        fixture_name.append(fixture_frame_text[i])
    else:
        fixture_type.append(fixture_frame_text[i])

# get webelment for match title
title_wbe=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']")

title=[]
title.clear()
loc=[]
loc.clear()

for i in title_wbe:
    title.append(i.text.split('\n')[0])
    loc.append(i.text.split('\n')[1])
    
#get webelement for date and time
try:
    date_wbe=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']")
except:
    pass

date=[]
date.clear()
time=[]
time.clear()

for i in date_wbe:
#     pdb.set_trace()
    date.append(str(i.text.split('\n')[0])+str('-')+str(i.text.split('\n')[1]+str('th')+str(i.text.split('\n')[2])))
    time.append(i.text.split('\n')[3])

In [12]:
ind_fixture=pd.DataFrame({})
ind_fixture['Tournament']=fixture_name
ind_fixture['Fixture']=fixture_type
ind_fixture['Match']=title
ind_fixture['Venue']=loc
ind_fixture['Date']=date
ind_fixture['Time']=time

In [13]:
ind_fixture

,Tournament,Fixture,Match,Venue,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP,TEST,Final,"The Ageas Bowl, Southampton",Friday-18thJUNE,15:00 IST
1,ENGLAND V INDIA 2021,TEST,1st Test,"Trent Bridge, Nottingham",Wednesday-04thAUGUST,15:30 IST
2,ENGLAND V INDIA 2021,TEST,2nd Test,"Lord's, London",Thursday-12thAUGUST,15:30 IST
3,ENGLAND V INDIA 2021,TEST,3rd Test,"Headingley, Leeds",Wednesday-25thAUGUST,15:30 IST
4,ENGLAND V INDIA 2021,TEST,4th Test,"The Oval, London",Thursday-02thSEPTEMBER,15:30 IST
5,ENGLAND V INDIA 2021,TEST,5th Test,"Old Trafford, Manchester",Friday-10thSEPTEMBER,15:30 IST

#### Q.3 Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [6]:
Url='https://www.guru99.com'
open_url(Url)

# click on 'Selenium' on main page
driver.find_element_by_xpath("//a[text()='Selenium']").click()

# time.sleep(5)
# click on Selenium Exception page
driver.find_element_by_xpath("//td[contains(text(),'Selenium Exception')]//preceding-sibling::td[@class='responsivetable']").click()

# get webelement for table with data
table_wbe=driver.find_element_by_xpath("//table[@class='table table-striped']")

table_data = table_wbe.text

row_data = table_data.split('\n')

name=[]
descr=[]

for i in row_data[1:]:
    name.append(i.split(' ')[0])
    descr.append(' '.join(i.split(' ')[1:]))

In [9]:
guru99_tut=pd.DataFrame({})
guru99_tut['Exception']=name
guru99_tut['Description']=descr

In [11]:
guru99_tut.to_csv('selenium exceptions.csv')

In [56]:
pd.read_csv('selenium exceptions.csv')

,Unnamed: 0,Exception,Description
0,0,ElementNotVisibleException,This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.
1,1,ElementNotSelectableException,"This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact."
2,2,NoSuchElementException,This Exception occurs if an element could not be found.
3,3,NoSuchFrameException,This Exception occurs if the frame target to be switched to does not exist.
4,4,NoAlertPresentException,This Exception occurs when you switch to no presented alert.
5,5,NoSuchWindowException,This Exception occurs if the window target to be switch does not exist.
6,6,StaleElementReferenceException,This Selenium exception occurs happens when the web element is detached from the current DOM.
7,7,SessionNotFoundException,The WebDriver is acting after you quit the browser.
8,8,TimeoutException,"Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time."
9,9,WebDriverException,This Exception takes place when the WebDriver is acting right after you close the browser.
10,10,ConnectionClosedException,This type of Exception takes place when there is a disconnection in the driver.
11,11,ElementClickInterceptedException,The command may not be completed as the element receiving the events is concealing the element which was requested clicked.
12,12,ElementNotInteractableException,"This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element."
13,13,ErrorInResponseException,This happens while interacting with the Firefox extension or the remote driver server.
14,14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if the server returns an error without a stack trace.
15,15,ImeActivationFailedException,This expectation will occur when IME engine activation has failed.
16,16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,17,InsecureCertificateException,Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.
18,18,InvalidArgumentException,It occurs when an argument does not belong to the expected type.
19,19,InvalidCookieDomainException,This happens when you try to add a cookie under a different domain instead of current URL.
20,20,InvalidCoordinatesException,This type of Exception matches an interacting operation that is not valid.
21,21,InvalidElementStateExceptio,It occurs when command can't be finished when the element is invalid.
22,22,InvalidSessionIdException,This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.
23,23,InvalidSwitchToTargetException,This occurs when the frame or window target to be switched does not exist.
24,24,JavascriptException,This issue occurs while executing JavaScript given by the user.
25,25,JsonException,It occurs when you afford to get the session when the session is not created.
26,26,NoSuchAttributeException,This kind of Exception occurs when the attribute of an element could not be found.
27,27,MoveTargetOutOfBoundsException,"It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document."
28,28,NoSuchContextException,ContextAware does mobile device testing.
29,29,NoSuchCookieException,This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.
30,30,NotFoundException,This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.
31,31,RemoteDriverServerException,This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.
32,32,ScreenshotException,It is not possible to capture a screen.
33,33,SessionNotCreatedException,It happens when a new session could not be successfully created.
34,34,UnableToSetCookieException,This occurs if a driver is unable to set a cookie.
35,35,UnexpectedTagNameException,Happens if a support class did not get a web element as expected.
36,36,UnhandledAlertException,"This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation."
37,37,UnexpectedAlertPresentException,It occurs when there is the appearance of an unexpected alert.
38,38,UnknownMethodException,This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.
39,39,UnreachableBrowserException,This Exception occurs only when the browser is not able to be opened or crashed because of some reason.
40,40,UnsupportedCommandException,This occurs when remote WebDriver does n't send valid commands as expected.

#### Q.4 Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:
    
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [14]:
Url ='http://statisticstimes.com/'

open_url(Url)

# main_window = driver.current_window_handle

a = ActionChains(driver)

# get webelement for 'Economy' button
eco_wbe = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
# keep mouse on above webelement to get drop down list
a.move_to_element(eco_wbe).perform()
#click on 'India' from drop down
driver.find_element_by_xpath("//a[@href='economy/india-statistics.php']").click() #//*[@id="top"]/div[2]/div[2]/div/a[3]

try:
    driver.find_element_by_xpath("//div[@id='ad_position_box']/div[@class='mys-wrapper']/div[@id='dismiss-button']").click()
except:
    time.sleep(4)
# click on Statwise GDP
driver.find_element_by_xpath("//div[contains(@style,'seashell')]/ul/li[1]").click()
#get webelements
rank_wbe = driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr[@role='row']/td[1]")
state_wbe = driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr[@role='row']/td[2]")
gsdp_19_wbe = driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr[@role='row']/td[3]")
gsdp_18_wbe = driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr[@role='row']/td[4]")
share_18_wbe = driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr[@role='row']/td[5]")
gdp_wbe = driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr[@role='row']/td[6]")
# get text from above webelements
rank=[]
state=[]
gsdp_19=[]
gsdp_18=[]
share_18=[]
gdp=[]
for i in rank_wbe:
    rank.append(i.text)
for i in state_wbe:
    state.append(i.text)
for i in gsdp_19_wbe:
    gsdp_19.append(i.text)
for i in gsdp_18_wbe:
    gsdp_18.append(i.text)
for i in share_18_wbe:
    share_18.append(i.text)
for i in gdp_wbe:
    gdp.append(i.text)

In [15]:
statewise_gdp = pd.DataFrame({})
statewise_gdp['Rank']=rank
statewise_gdp['State']=state
statewise_gdp['GSDP at current price (19-20)']=gsdp_19
statewise_gdp['GSDP at current price (18-19)']=gsdp_18
statewise_gdp['Share(18-19)']=share_18
statewise_gdp['GDP in billion $']=gdp

In [16]:
statewise_gdp.to_csv('Statewise GDP.csv',index=False)

In [17]:
pd.read_csv('Statewise GDP.csv')

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP in billion $
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

#### Q.5 Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [8]:
Url = 'https://github.com/'
open_url(Url)

time.sleep(3)

# get webelement for "Explore" button and hover over it
# a = ActionChains(driver)

explore_wbe = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore_wbe.click()
# a.move_to_element(explore_wbe).perform()

# click on "trending"
driver.find_element_by_xpath("//li[@class='edge-item-fix']//following::a[@href='/trending']").click()

time.sleep(3)

# below block gets repo and user name
user_names = []
user_names.clear()

repo_names = []
repo_names.clear()

repo_wbe = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

for i in repo_wbe:
    user_names.append(i.text.split('/')[0])
    repo_names.append(i.text.split('/')[1])
    
# below block finds languauges used
time.sleep(3)
# get webelement for language row
lang_wbe = driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']")

lang = []
lang.clear()

for i in lang_wbe:
    if i.text.split(' ')[0].isalpha() == True:
        lang.append(i.text.split(' ')[0])
    else:
        lang.append('---')
        
# below block will fetch contributor's count
contri_wbe = driver.find_elements_by_xpath("//span[@class='d-inline-block mr-3']")

numb_contri = []
numb_contri.clear()

for i in contri_wbe:
    numb_contri.append(len(i.find_elements_by_tag_name("a")))
#     pdb.set_trace()

In [12]:
github_repo = pd.DataFrame({})
github_repo['Username'] = user_names
github_repo['Repository'] = repo_names
github_repo['Language'] = lang
github_repo['Number of contributors'] = numb_contri

In [13]:
github_repo.to_csv('trending github repositories.csv',index=False)

In [14]:
pd.read_csv('trending github repositories.csv')

,Username,Repository,Language,Number of contributors
0,madMAx43v3r,chia-plotter,C,4
1,TuSimple,naive-ui,TypeScript,5
2,ToolJet,ToolJet,JavaScript,5
3,maaslalani,slides,Go,4
4,PaddlePaddle,PaddleHub,Python,5
5,project-chip,connectedhomeip,---,5
6,goldbergyoni,nodebestpractices,JavaScript,5
7,Charmve,computer-vision-in-action,Jupyter,1
8,public-apis,public-apis,Python,5
9,escape2020,school2021,Jupyter,5
10,firstcontributions,first-contributions,---,5
11,PaddlePaddle,PaddleNLP,Python,5
12,tgbot-collection,YYeTsBot,Python,3
13,mechaniac,Map-of-Javascript,JavaScript,1
14,ParthJadhav,Tkinter-Designer,Python,4
15,jhu-ep-coursera,fullstack-course4,JavaScript,5
16,notepad-plus-plus,notepad-plus-plus,---,5
17,lan-tianxiang,jd_shell,JavaScript,1
18,rails,webpacker,Ruby,5
19,calendso,calendso,TypeScript,5
20,danistefanovic,build-your-own-x,---,5
21,vuejs,vue-next,TypeScript,5
22,iamadamdev,bypass-paywalls-chrome,JavaScript,5
23,jlevy,the-art-of-command-line,---,5
24,dortania,OpenCore-Legacy-Patcher,Python,5

#### Q.6 Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/
    
You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [27]:
Url ='https://www.billboard.com/'
# open_url(Url)

driver=webdriver.Chrome('chromedriver.exe')

#enter the url
driver.get(Url)

driver.set_page_load_timeout(300)

# click on "Hot 100" button
driver.find_element_by_xpath("//li[@class='header__subnav__item']//following::a[@href='/charts/hot-100' and @data-track='navigation']").click()


# get chart-element wbe
chart_element_wbe_1 = driver.find_elements_by_xpath("//span[@class='chart-element__information']")
chart_element_wbe_2 = driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']")

song_names = []
song_names.clear()

artist_names = []
artist_names.clear()

lwk_rank = []
lwk_rank.clear()

peak_rank = []
peak_rank.clear()

wks_oc = []
wks_oc.clear()

for i in chart_element_wbe_1:
    song_names.append(i.text.split('\n')[0])
    artist_names.append(i.text.split('\n')[1])


for i in chart_element_wbe_2:
    lwk_rank.append(i.text.split('\n')[0])
    peak_rank.append(i.text.split('\n')[1])
    wks_oc.append(i.text.split('\n')[2])
#     pdb.set_trace()

In [28]:
top100_billboard = pd.DataFrame({})
top100_billboard['Song'] = song_names
top100_billboard['Artist'] = artist_names
top100_billboard['Last Week Rank'] = lwk_rank
top100_billboard['Peak Rank'] = peak_rank
top100_billboard['Weeks on Chart'] = wks_oc

In [29]:
top100_billboard.to_csv('Top 100 billboard.csv',index=False)

In [30]:
pd.read_csv('Top 100 billboard.csv')

,Song,Artist,Last Week Rank,Peak Rank,Weeks on Chart
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

#### Q7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/
    
You have to find the following details:
    
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [15]:
driver = webdriver.Chrome('chromedriver.exe')
# open url
driver.get('https://www.naukri.com/')
# give time to load webpage
driver.set_page_load_timeout(60)
# store main page window handle
main_window = driver.current_window_handle
# remove 2nd window which will be a ad popup
driver.switch_to.window(driver.window_handles[1])
driver.close()
driver.switch_to.window(main_window)
# close the alert
try:
    a = Alert(driver)
    a.dismiss()
except:
    pass
# click on "Recruiters"
driver.find_element_by_xpath("//ul[@class='midSec menu']//following::a[@title='Search Recruiters']").click()
time.sleep(4) # give time to load new tab
# switch to new tab
driver.switch_to.window(driver.window_handles[1])
# get webelement for search bar
search_wbe = driver.find_element_by_xpath("//div[@class='inpWrap']//following::input[@placeholder='Skills, Designations, Companies']")
# search keyword
search_wbe.send_keys("Data Scientist",Keys.ENTER)
# get recruiters info webelements
vcard_wbe = driver.find_elements_by_xpath("//div[@class='vcard']")
skills_wbe = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
# get text from webelements
rec_names = []
rec_names.clear()
rec_roles = []
rec_roles.clear()
rec_companies = []
rec_companies.clear()
rec_locations = []
rec_locations.clear()
skills = []
skills.clear()
# iterating over recruiters info
for i in vcard_wbe:
#     pdb.set_trace()
    if len(i.text.split('\n')) == 4: # if location info is avaialble
        rec_names.append(i.text.split('\n')[0])
        rec_roles.append(i.text.split('\n')[1])
        rec_companies.append(i.text.split('\n')[2])
        rec_locations.append(i.text.split('\n')[3])
    elif len(i.text.split('\n')) == 3: # if location info is missing
        rec_names.append(i.text.split('\n')[0])
        rec_roles.append(i.text.split('\n')[1])
        rec_companies.append(i.text.split('\n')[2])
        rec_locations.append('---')
# iterating over skills sought by recruiters
for i in skills_wbe:
    skills.append(i.text)

In [17]:
naukri_recr = pd.DataFrame({})
naukri_recr['Name of Recruiter'] = rec_names
naukri_recr['Role'] = rec_roles
naukri_recr['Company'] = rec_companies
naukri_recr['Location'] = rec_locations
naukri_recr['Skills looking for'] = skills

In [18]:
naukri_recr.to_csv('Data Science Recruiters.csv',index=False)

In [21]:
pd.set_option('display.max_colwidth',None)

In [22]:
pd.read_csv('Data Science Recruiters.csv')

,Name of Recruiter,Role,Company,Location,Skills looking for
0,Tanushree,Lead Recruiter,RecRoots,Noida,"UI Developers, Software Engineers, Quality Assurance, Principal Engineers, Data Scientists, Product Manager, Android Developer, Web Developer, Design, coding"
1,sashi bhushan,Senior Specialist,Wipro,Bengaluru / Bangalore,"pig, hbase, sas, spss, apache, python, nosql, php, Cloud Computing, hadoop, r, Hadoop Architect, spark, flume, Advanced Excel, statistics"
2,Bitapi,HR and Operation Manager,Anvaya,Bengaluru / Bangalore,"Hadoop, Big Data, Data Scientists, Java, Spring Boot, Oracle, SQL, MySQL, Object Oriented Programming, RDBMS, Data Modeling"
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,Noida,"Data Scientist, Big Data, Hadoop, Web Analytics, NLP, Machine Learning, J2EE, SAP, Oracle, ERP, .Net, Sharepoint, Architecture, Devops, Mobile APPs"
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,Pune,"Big Data Engineer, Data Scientist, Solutions, Test Cases, Big Data, Developer, Hadoop, Analytics, Data Analytics, Predictive Modeling"
5,Raily Ghosh,Associate Manager Human Resources,ncyclo Corporation,Hyderabad / Secunderabad,IT / Bi Data Analytics/ Decision Sciences
6,Invelopment,Company HR,Invelopment,Ahmedabad,Scandinavian Startups
7,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,Noida,"Technical, Business Development Executive, Software Developer, Technical Lead, Project Manager, Business Development Manager, Business Head, Php Developer"
8,Anoop Somarajan,Assistant Manager Talent Acquisition,Access Healthcare,Chennai,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript, Css, Github, Data Scientist, Machine Learning, R, Angularjs, Node.js, Aws, Web Development, Sql Dba"
9,Helly Vyas,HR Business Partner,AM - TA &amp; HR,Pune,"Big Data technology, PLSQL, Web Developer, Java, Data Scientist, Financial Analyst, Investment Banking, Big Data packages/applications, Scala, Python, Impala"
10,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,Gurgaon,"SAS, VBA, Business Information Services(BIS), Legal, Corporate Lawyers, Business Research, Library Services, Natural Language Processing (NLP), Industry"
11,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,Delhi,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flipkart, Treebo, Shuttl, Rivigo, BrowserStack, Crowdfire, Mindtickle, Hike, Igniteworld"
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,Bengaluru / Bangalore,"Digital Marketing, General Manager, Business Development, Product Manager, Big Data, Business Analyst, Frontend Developer, Human Resources, data"
13,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,Bengaluru / Bangalore,"Webmethods Developer, Mean Stack, Business Analysis, Data Scientist, Database Development, java, python, Algorithm Scientist, Machine Learning, artificial"
14,A Valsa Florina,Recruitment Specialist,Redbus.in,Bengaluru / Bangalore,"Business Analyst, Front end developer, legal, Finance Manager, Global Gds, Product Manager, SEO Specialist, Big Data, sales and business development, L2"
15,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,Chennai,"Data Scientist, Cloud Computing, Mobile Application Development"
16,Prashant K,Sr HR,Confidential,Bengaluru / Bangalore,"Data Analyst, Statistical Analysis, Data Scientist, Analytics Manager, Software Engineer"
17,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,Coimbatore,"business analyst - IT (python), pay per click, social media marketing, retargeting on videos, Online Branding Professional, Data Scientist, Post-sales"
18,Rakhi,HR recruiter,Constalytics,Singapore - (singapore),"Data Scientist, Data Research Analyst, Big Data, Analytics, Data Modelling And Mapping, Graph Database"
19,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,Noida,"Lamp Developer, Ui/ux Developer, Qa Engineer, Java Developer, Data Scientist"
20,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,Hyderabad / Secunderabad,".Net Developers With Angular Js, Html, Front End Developers With React Js, Node Js Developer, Landesk Admin, Help Desk Admin, Sfdc, Sfdc Consutant, Data"
21,Sridharan,Company Recruiter Vice President,Aaum Research and Analytics Private Limited,Chennai,"Data Scientist, Developer, Ui, Accounting"
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,Noida,"Leading MNCs, Product based organizations"
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Bengaluru / Bangalore,Amazon Walmart Adobe OLA Myntracom Komli Media Practo Showt RevX DataRPM Adobe Infoworks PayPal Elasticbeam Appdynamics Cloodon fashalot Curefit kensci Soroco
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,Indore,"Big Data Analytics, Marketing Analytics, Full Stack, Technical Architecture"
25,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,Gurgaon,"Analytics, Big Data, Hadoop, Python"
26,Janhavi Soni,HR Generalist,Vihaa Technologies LLP,Ahmedabad,"C, C++, Unity3d, Core Php, Android Development, Photoshop, Illustrator, Wacom, Html5, Css3, Web Designing, Graphic Designing, Mobile Application Development"
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big"
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience"
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,Ghaziabad,"Deep Learning, Machine Learning, unstructured data mining, natural language processing, Artificial Intelligence, Pattern Recognition, Information Retrieval"
30,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,Noida,"Business Analyst, analytics, Decesion Scientist, Data Scientist, Developer, Machine Learning, NLP, Machine Linguistics, Product Development"
31,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,Chennai,"IT Infrastructure Management, PHP, Wordpress, MySQL, Java, IPTABLES, Coldfusion, Debian, Bash, SQL, Ubuntu, Networking, UI Development, HTML, Javascript"
32,Best In Town Analytics,Analytics Associate,BITA,Bengaluru / Bangalore,Data Analytics
33,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,---,"Data Science, Project Management, Backend"
34,priyanka,General Manager,Reliance Industries,Mumbai,"Sap, Saas, Sql, Hadoop, Production Planning, Business Development, Software Development, Project Management, Big Data, Data Analytics, Data Science"
35,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,Bengaluru / Bangalore,"Core Java, J2ee, Big Data, Machine Learning, Deep Learning, Real Time Analysis, Ui, Front End"
36,Roshan Menugu,Company Recruiter,Cyient Limited,Hyderabad / Secunderabad,Not Specified
37,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Bengaluru / Bangalore,Not Specified
38,Jamil Akhtar,Company Recruiter,Quikkloan,Delhi,Not Specified
39,rajesh,HR Executive,quantum value IT services,Bengaluru / Bangalore,"Data Scientist, Tableau, R Tool, Data Analytics, Business Analytics"
40,navya neluri,Data Scientist,asens labs,Hyderabad / Secunderabad,Not Specified
41,Ram Kumar,Data Scientist,Working As A Freelancer,Pune,Not Specified
42,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,Bengaluru / Bangalore,"sql, Ui Development, ssis, Data Modeling, Data Warehousing, root cause analysis, Performance Tuning, Database Maintenance, Technical Documentation"
43,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,Hyderabad / Secunderabad,"devops, build and release, Delivery Manager, Oracle Webcenter, selenium, ruby, hadoop, teamsite, java/j2ee, datastage, informatica, Production Support, core"
44,Arya,Human Resources Manager,Arya.ai,Mumbai,"Artificial Intelligence, Deep Learning, Machine Learning, Data Science, Data Analytics, Data Mining, Python, Enterprise Architecture, Product Management, New"
45,Blueberry Digital Labs,HR,Blueberry Digital Labs,Hyderabad / Secunderabad,"Node.js, Html, Css, Nosql, Web Designing, Web Application, Python, Data Analysis, Layout, Desktop Publishing, Seo"
46,Ms Uma,Company HR,RenovITe Payment Solutions Pvt ltd,Noida,"java, J2ee, activemq, rest, cassandra, redis, nosql, spark, Big Data, scala, cq5, aem, spring, c++, Test Engineering, Performance Testing"
47,Manoj Kumar Ganesh,Senior HR Associate,Cads Software India,Chennai,"Java, J2EE, Oracle E-business Suite, MS CRM, Protocol Development, IP/Networking Reqts, Big Data, hadoop, hive, Machine Learning, Data Scientist, R"
48,Kranthi Kumar M,Lead HR Talent Acquisition,PrimEra Medical Technologies Private...,Hyderabad / Secunderabad,"Medical Coders, mbbs, bi, appeals, master data management, Big Data, hadoop, Predictive Analytics, Business Intelligence, managed care organization"
49,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human"

#### Q.8 Scrape the details of Highest selling novels.

Url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/'

You have to find the following details:

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [30]:
Url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
open_url(Url)
# get web elements
rank_wbe = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[1]")
bname_wbe = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
auth_name_wbe = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
vols_sold_wbe = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
publisher_wbe = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
genre_wbe = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
time.sleep(3)
rank=[]
bname=[]
auth_name=[]
vols_sold=[]
publisher=[]
genre=[]
for i in rank_wbe:
    rank.append(i.text)
for i in bname_wbe:
    bname.append(i.text)
for i in auth_name_wbe:
    auth_name.append(i.text)
for i in vols_sold_wbe:
    vols_sold.append(i.text)
for i in publisher_wbe:
    publisher.append(i.text)
for i in genre_wbe:
    genre.append(i.text)

In [31]:
best_novels = pd.DataFrame({})
best_novels['Rank'] = rank
best_novels['Title'] = bname
best_novels['Author'] = auth_name
best_novels['Volumes Sold'] = vols_sold
best_novels['Publisher'] = publisher
best_novels['Genre'] = genre

In [32]:
best_novels.to_csv('Most sold novels.csv',index=False)

In [35]:
pd.read_csv('Most sold novels.csv')

,Rank,Title,Author,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the Love of a Family","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#### Q.9  Scrape the details most watched tv series of all time from imdb.com.

Url='https://www.imdb.com/list/ls095964455/'

You have to find the following details:

A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [45]:
Url='https://www.imdb.com/list/ls095964455/'
open_url(Url)
#get webelements
title_wbe = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")
yr_span_wbe = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]")
genre_wbe = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[@class='text-muted text-small']/span[@class='genre']")
run_time_wbe = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[@class='text-muted text-small']/span[@class='runtime']")
rating_wbe = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[@class='ipl-rating-star__rating']")
votes_wbe = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[@class='text-muted text-small']/span[@name='nv']")

title=[]
yr_span=[]
genre=[]
run_time=[]
rating=[]
votes=[]

for i in title_wbe:
    title.append(i.text)
for i in yr_span_wbe:
    yr_span.append(i.text)
for i in genre_wbe:
    genre.append(i.text)
for i in run_time_wbe:
    run_time.append(i.text)
for i in rating_wbe:
    rating.append(i.text)
for i in votes_wbe:
    votes.append(i.text)

In [47]:
imdb_webseries = pd.DataFrame({})
imdb_webseries['Title'] = title
imdb_webseries['Year Span'] = yr_span
imdb_webseries['Genre'] = genre
imdb_webseries['Run Time'] = run_time
imdb_webseries['Rating'] = rating
imdb_webseries['Votes'] = votes

In [49]:
imdb_webseries.to_csv("Top imdb webseries.csv",index=False)

In [50]:
pd.read_csv("Top imdb webseries.csv")

,Title,Year Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,821,032"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"862,315"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"873,781"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,448"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,735"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,534"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,022"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.0,"167,378"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,851"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,103"

#### Q.10  Details of Datasets from UCI machine learning repositories.

Url ='https://archive.ics.uci.edu/'
        
You have to find the following details:

A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [5]:
Url ='https://archive.ics.uci.edu/'
open_url(Url)
#click on "view all repositories"
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()
# get all repositories
name_wbe = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[1]/table/tbody/tr/td[2]/p[@class='normal']/b/a")
dtypes_wbe = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[2]/p[@class='normal']")
task_wbe = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[3]/p[@class='normal']")
attr_types_wbe = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[4]/p[@class='normal']")
instances_wbe = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[5]/p[@class='normal']")
no_of_attr_wbe = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[6]/p[@class='normal']") 
yrs_wbe = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[7]/p[@class='normal']")
# get text from above webelements
repo_name=[]
dtypes=[]
task=[]
attr_types=[]
instances=[]
no_of_attr=[]
yrs=[]
for i in name_wbe:
    repo_name.append(i.text)
for i in dtypes_wbe:
    dtypes.append(i.text)
for i in task_wbe:
    task.append(i.text)
for i in attr_types_wbe:
    attr_types.append(i.text)
for i in instances_wbe:
    instances.append(i.text)
for i in no_of_attr_wbe:
    no_of_attr.append(i.text)
for i in yrs_wbe:
    yrs.append(i.text)

In [6]:
repositories = pd.DataFrame({})
repositories['Title']=repo_name
repositories['Data Types']=dtypes
repositories['Default Task']=task
repositories['Attribute Types']=attr_types
repositories['Instances']=instances
repositories['Attributes']=no_of_attr
repositories['Year']=yrs

In [8]:
repositories.to_csv("UCI repositories.csv",index=False)

In [9]:
pd.read_csv('UCI repositories.csv')

,Title,Data Types,Default Task,Attribute Types,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021